body {
  display: none;
  font-family: sans-serif;
}

body.modules-rendered {
  display:block;
}

button {
  border: 1px solid gray;
  background-color: lightblue;
  color: black;
}

#app-header {

}

#app-footer {
  clear: both;
}

#app-body #app-menu {
  float:left;
  width: 15%;

}

#app-body #app-content {
  float:right;
  width: 85%;
}
