body {
  font-family: sans-serif;
  margin:0;
}

body {
  display: none;
}

body.modules-rendered {
  display:block;
}

#app-header {
}

#app-footer {
}

#app-body {
  display: flex;
}

#app-body #app-menu {
}

#app-body #app-content {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}

button {
  border: 1px solid gray;
  background-color: lightblue;
  color: black;
}
