body {
  font-family: sans-serif;
  margin:0;
}

body {
  display: none;
}

body.modules-rendered {
  display:block;
}

#app-header {
}

#app-footer {
}

#app-body {
  display: flex;
}

#app-body #app-navigator {
}

#app-body #app-content {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}

button {
  border: 1px solid gray;
  background-color: lightblue;
  color: black;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
}
