#module-tabs {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

#module-tabs > h2 {
  margin-top: 0;
  color:silver;
}

#module-tabs div.tabs-list {
  border-bottom: 1px solid silver;
}

#module-tabs div.tabs-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#module-tabs div.tabs-list li {
  display: inline;
  border: 1px solid silver;
  border-bottom: 0;
  padding: 0 1rem;
  color: silver;
}

#module-tabs div.tabs-list li.selectedTab {
  background-color: silver;
  color: white;
}
