#module-tabs div.page-tabs {
  padding-left: 0.5rem;
}

#module-tabs div.page-tabs > h2 {
  margin-top: 0;
  color:blue;
}

#module-tabs div.tabs-list {
  border-bottom: 1px solid gray;
}

#module-tabs div.tabs-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#module-tabs div.tabs-list li {
  display: inline;
  border: 1px solid gray;
  border-bottom: 0;
  padding: 0 1rem;
}
