#module-menu {
  display:flex;
}

#module-menu #app-menu {
  padding: 0.5rem;
  box-sizing: border-box;
  border-right: 1px solid silver;
}

#module-menu #app-content {
  padding: 0.5rem;
  box-sizing: border-box;
}

#module-menu #app-menu:not(.collapse) {
  width: 13rem;
}

#module-menu #app-menu.collapse {
  width: 2rem;
}

#module-menu h2 {
  margin-top: 0;
  color:silver;
}

#module-menu #menu-header button {
  float: right;
}

#module-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#module-menu #app-menu.collapse h2 {
  display: none;
}

#module-menu #app-menu.collapse ul {
  display: none;
}
