#module-menu {
  border-right: 1px solid gray;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#module-menu h2 {
  margin-top: 0;
  color:silver;
}

#module-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
